<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

 <body style="background-color:rgb(61, 251, 55);">
  <h1><%= title %></h1>
  
   <p>Welcome to our information page: <%= title %></p>
   <p>Our is group number 3</p>
   <p>We are currently building a shopping web. We will be on stock soon! Thanks</p> 
  

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

